
.card {

    background: white;

    border-radius: 14px;

    padding: 24px;

    box-shadow: 0 8px 20px rgba(0,0,0,.08);

    transition: .25s;

    min-height: 150px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.card:hover{

    transform:translateY(-5px);

}

.title{

    font-size:18px;

    color:#6b7280;

    font-weight:600;

}

.value{

    margin-top:18px;

    font-size:44px;

    color:#2563eb;

    font-weight:700;

}