.table{

width:100%;

background:white;

border-radius:10px;

overflow:hidden;

border-collapse:collapse;

box-shadow:0 10px 20px rgba(0,0,0,.08);

}

th{

background:#2563eb;

color:white;

padding:15px;

text-align:left;

}

td{

padding:15px;

border-bottom:1px solid #eee;

}

tbody tr:hover{

background:#f8f9fc;

}

.edit{

background:#2563eb;

color:white;

padding:8px 12px;

border:none;

border-radius:6px;

margin-right:8px;

cursor:pointer;

}

.deleteBtn{

background:#dc2626;

color:white;

padding:8px 12px;

border:none;

border-radius:6px;

cursor:pointer;

}