.container{

padding:35px;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.header button{

background:#2563eb;

color:white;

padding:12px 18px;
max-width:200px;

border:none;

border-radius:8px;

cursor:pointer;

}